<div class="top-bar"></div>
<div class="container">
    <nav class="navbar nav-justified navbar-dark bg-dark">
        <a class="nav-item" asp-controller="Activitie" asp-action="Index">Dashboard</a>
        <a class="nav-item" href="new">Add New Activity</a>
        <a class="nav-item" href="logoff">Log Off</a>
    </nav>
</div>